@import '../index.scss';
#root {
  text-align: center;
  width: 100%;
}

main {
  width: 90%;

  .search-and-filters {
    
    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 4rem;
    }
  }
}