@import '../index.scss';

.country-card {
    width: 90%;
    background-color: var(--container-background);
    border-radius: 5px;
    box-shadow: var(--custom-box-shadow);
    color: var(--main-text);
    cursor: pointer;
    transition: all .2s ease-in-out;

    @include desktop {
        width: 100%;
        height: 22.25rem;
    }

    &:hover {
        transform: scale(1.02);
    }

    .image-container {
        border-radius: 5px 5px 0 0;
        img {
            border-radius: 5px 5px 0 0;
            width: 100%;
            aspect-ratio: 16/9;
        }
    }

    .bottom {
        padding: 1.5rem 2rem 2rem;

        .country-name {
            font-size: 1.2rem;
            font-weight: 800;
            margin-bottom: 1rem;
        }

        .short-info {
            p {
                font-size: 0.8rem;
                font-weight: 300;

                span {
                    font-weight: 600;
                    font-size: .9rem;
                }
            }
        }
    }
}