@import '../index.scss';

header {
    padding: 1.5rem 1rem;
    background-color: var(--container-background);
    color: var(--main-text);
    box-shadow: var(--custom-box-shadow);
    a {
        color: var(--main-text);
        font-weight: 800;
    }

    button {
        font-weight: 300;
        color: var(--main-text);
        gap: .5rem;
    }

}